.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/court.jpg");
}

.court-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  background-color: #33333380;
}

.court {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}